<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/index.css" media="screen"/>
    <title>Tasks</title>
</head>
<body>
    <div class="pageheader">
        <div class="titlebar">Tasks for {{ user.name }}</div>
    </div>
    <div class="container">
        <div class="folders">
            <div class="header">Folders</div>
            <button class="blue icon-new" id="new_folder_button">New</button>
            {% for folder in folders %}
                {% if folder.id == folderid %}
                    <a class="folderitem highlight" href="?folderid={{ folder.id }}">{{ folder.name }}</a>
                {% else %}
                    <a class="folderitem" href="?folderid={{ folder.id }}">{{ folder.name }}</a>
                {% endif %}
            {% endfor %}
            <div class="controls">
                <button class="gray icon-settings">Settings</button>
                <button class="gray icon-exit" id="logout_button">Logout</button>
            </div>
        </div>
        <div class="items">
            <div class="header">Summary</div>
            <button class="blue icon-new" id="new_task_button">New</button>
            {% for task in tasks %}
                <!-- {{ task }} -->
                {% if task.folderid == folderid %}
                    <a class="itempreview" href="?folderid={{ folderid }}&id={{ task['id']}}">
                        <div class="itempreviewheader">
                            {{ task['title'] }}
                        </div>
                        <div class="itempreviewtext">
                            {{ task['notes'][:50] }}... 
                        </div>
                        <div class="itempreviewtime">{{ task['due'] }}</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="main">
            {% if id is defined %}
            <form method="POST" enctype="multipart/form-data" action="/save_task">
                <div class="maintitle"><input type="text" name="title" value="{{ maintask.title }}" placeholder="Task title" class="tasktitle"></div>
                <div class="two-columns">
                    <div><label for="due">Due</label></div>
                    <input type="date" name="due" value="{{ maintask.due }}" placeholder="">
                    <div><label for="reminder">Reminder</label></div>
                    <input type="date" name="reminder" value="{{ maintask.reminder }}" placeholder="">
                    <div><label for="created">Created</label></div>
                    <input readonly type="date" name="created" value="{{ maintask.created }}" placeholder="">
                    <div><label for="category">Category</label></div>
                    <select name="category" value="{{ maintask.category }}">
                        <option {{ "selected='selected'" if maintask.category == 'Homework' else "" }}>Homework</option>
                        <option {{ "selected='selected'" if maintask.category == 'Assignment' else "" }}>Assignment</option>
                        <option {{ "selected='selected'" if maintask.category == 'Test' else "" }}>Test</option>
                    </select>                    
                    <div><label for="priority">Priority</label></div>
                    <select name="priority" value="{{ maintask.priority }}">
                        <option {{ "selected='selected'" if maintask.priority == 1 else "" }}>1</option>
                        <option {{ "selected='selected'" if maintask.priority == 2 else "" }}>2</option>
                        <option {{ "selected='selected'" if maintask.priority == 3 else "" }}>3</option>
                    </select>
                    <div><label for="status">Status</label></div>
                    <select name="status" value="{{ maintask.status }}">
                        <option {{ "selected='selected'" if maintask.status == "Unstarted" else "" }}>Unstarted</option>
                        <option {{ "selected='selected'" if maintask.status == "In progress" else "" }}>In progress</option>
                        <option {{ "selected='selected'" if maintask.status == "Waiting on response" else "" }}>Waiting on response</option>
                    </select>
                </div>
                <div class="maintext">
                    <textarea name="notes">{{ maintask.notes }}</textarea>
                </div>
                <input type="hidden" name="id" value="{{ maintask.id }}">
                <input type="hidden" name="folderid" value="{{ folderid }}">
                <input type="hidden" name="userid" value="{{ user.userid }}">
                <input type="submit" name="submit-save" class="blue icon-save" value="Save update">
                <input type="submit" name="submit-close" class="green icon-complete" value="Complete & close">
                <input type="submit" name="submit-delete" class="red icon-delete" value="Cancel & delete">
                <input type="button" name="button-share" class="gray icon-share" value=" ">
                <input type="button" name="button-print" class="gray icon-print" value=" ">
            </form>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
